<div class="container mt-3">
    <div class="p-5mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Courses</h1>
            <p class="col-md-8 fs-4">Discover endless learning possibilities with our online courses. From business to art, science to self-improvement, there's something for everyone. Dive in, learn, and grow from the comfort of your home. Start your journey today.</p>
            <button class="btn btn-primary btn-lg">
                <a class="nav-link active text-light" asp-controller="Course" asp-action="List" >Dive into journey!</a> 
            </button>
        </div>
    </div>
</div>